<div class="container">
  <card>
    <h1 class="title">Add Check</h1>

    <form action="" [formGroup]="form" (submit)="handleSubmit()">
      <text-input
        [control]="form.controls.productName"
        [placeholder]="'Enter product name'"
        [label]="'Product name'"
      ></text-input>

      <numeric-input
        [control]="form.controls.productPrice"
        [placeholder]="'Enter product price'"
        [label]="'Product price'"
      ></numeric-input>
    </form>
  </card>
</div>
