.container {
  width: 100%;
}

/* Firefox */
.numeric-input {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
.numeric-input::-webkit-outer-spin-button,
.numeric-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
